[color]
  ui = auto
  diff = true
  interactive = true
  status = true
  branch = true
[color "diff"]
  old = "red" "#101010" "bold"
  new = "green" "#151515" "bold"
[alias]
  st = status -sb
  cm = commit
  br = branch
  co = checkout
  df = diff --color
  pr = pull --rebase
  lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
  fix = commit --amend -C HEAD
[interactive]
  singlekey = true
[core]
  quotepath = false
  autocrlf = false
  safecrlf = true
  pager = less -r
	editor = vim -c \"set fenc=utf-8\"
[i18n]
  commitencoding = UTF-8
[push]
  default = matching
[user]
	name = azarashill
	email = negativehappychain@gmail.com
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
	root = ~/projects
	root = ~/src
